APP_NAME=
WORKSPACE=
SECRET=

ORIGINS=

#ORIGINS=

PORT=
DB_NAME=
DB=

; AWS_BUCKET_NAME=
; AWS_ACCESS_KEY=
; AWS_SECRET_KEY=
; STORAGE_BASE_URL=

AWS_BUCKET_NAME=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
STORAGE_BASE_URL=

EMAIL_USER=
EMAIL_PASSWORD=
